//============== ax6ui-tooltip
$ax6ui-tooltip-padding: 3px 7px !default;
$ax6ui-tooltip-color: #fff !default;
$ax6ui-tooltip-font-size: 11px !default;
$ax6ui-tooltip-font-family: inherit !default;
$ax6ui-tooltip-font-weight: inherit !default;
$ax6ui-tooltip-line-height: 1.5em !default;
$ax6ui-tooltip-arrow-size: 5px !default;
$ax6ui-tooltip-bg-color: rgba(1, 1, 1, 0.5) !default;
$ax6ui-tooltip-border-radius: 3px !default;

$ax6ui-tooltip-appear-duration: 0.1s  !default;
$ax6ui-tooltip-appear-ease: $ease-in-expo !default;
$ax6ui-tooltip-appear-delay: 0.3s !default;