//============== ax5dialog

$ax6dialog-z-index: 2000 !default;
$ax6dialog-box-model: border-box !default;
$ax6dialog-bg: $panel-bg !default;
$ax6dialog-box-shaodw: 0px 0px 3px 0px rgba(0, 0, 0, 0.175) !default;
$ax6dialog-body-padding: $panel-body-padding !default;
$ax6dialog-header-padding: $panel-heading-padding !default;
$ax6dialog-footer-padding: $panel-footer-padding !default;
$ax6dialog-border-radius: $panel-border-radius !default;
$ax6dialog-easing-time-open: 0.15s !default;
$ax6dialog-easing-time-close: 0.15s !default;

//** Border color for elements within dialog
$ax6dialog-inner-border: 1px solid $panel-inner-border !default;
$ax6dialog-footer-bg: $panel-footer-bg !default;

$ax6dialog-default-text: $panel-default-text !default;
$ax6dialog-default-border: 1px solid $panel-default-border !default;
$ax6dialog-default-header-bg: $panel-default-heading-bg !default;

$ax6dialog-primary-text: $panel-primary-text !default;
$ax6dialog-primary-border: 1px solid $panel-primary-border !default;
$ax6dialog-primary-header-bg: $panel-primary-heading-bg !default;

$ax6dialog-success-text: $panel-success-text !default;
$ax6dialog-success-border: 1px solid $panel-success-border !default;
$ax6dialog-success-header-bg: $panel-success-heading-bg !default;

$ax6dialog-info-text: $panel-info-text !default;
$ax6dialog-info-border: 1px solid $panel-info-border !default;
$ax6dialog-info-header-bg: $panel-info-heading-bg !default;

$ax6dialog-warning-text: $panel-warning-text !default;
$ax6dialog-warning-border: 1px solid $panel-warning-border !default;
$ax6dialog-warning-header-bg: $panel-warning-heading-bg !default;

$ax6dialog-danger-text: $panel-danger-text !default;
$ax6dialog-danger-border: 1px solid $panel-danger-border !default;
$ax6dialog-danger-header-bg: $panel-danger-heading-bg !default;